<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="seleniumFramework">

<!-- 	<listeners>
		<listener class-name="com.practice.utilities.Reporting" />
	</listeners>
 -->

	<test name="Selenium Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.practice.testcases.Login_TC" />

		</classes>

	</test>

</suite>